.image-upload {
    display: block;
    width: 240px;
    height: 125px;
    margin: 3px;
    background-image: url("../../assets//imageUpload.png");
    background-repeat: no-repeat;
    background-size: 240px 140px;
    border-radius: 8px;
}

.image-upload input {
    display: inline-block;
    width: 240px;
    height: 125px;
    background-color: #fff;
}

.image-upload img {
    width: 240px;
    height: 125px;
    border-radius: 8px;

}
